.tabs {
    .tab-header-wrap {
        display: flex;
        padding: 0 1px;

        @media(max-width: $mobile-max) {
            display: none;
            width: 300px;
            flex-direction: column;
            position: absolute;
            background-color: #fff;
            border: 1px solid #aaa;
            border-top: none;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            z-index: 100;
        }
    }

    .tabs-list-wrap {
        position: relative;
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }

        @media(max-width: $mobile-max) {
            width: 100%;
            padding: 20px;

            &.active-mobile {
                display: none;
            }

            &:not(.tab-header-mobile) {
                border-top: 1px solid #ddd;
            }
        }
    }

    .tab-header-mobile {
        display: none;

        @media(max-width: $mobile-max) {
            display: block;
            width: 300px;
            position: relative;
            border: 1px solid #aaa;

            &::after {
                content: "";

                position: absolute;
                top: 50%;
                right: 20px;

                border: 5px solid transparent;
                border-top: 5px solid #000;
            }

            &.opened {
                border-bottom: none;
            }

            &.opened {
                &::after {
                    border: 5px solid transparent;
                    border-bottom: 5px solid #000;
                }
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;

        @media(max-width: $mobile-max) {
            border-top: none;
        }
    }

    .tab-content {
        display: block;
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }
    }

    .tab-drag-box {
        position: relative;
        padding: 0;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border: 1px solid #999;
    }

    .tab-drag-image {
        width: auto;
        max-width: none;
    }

    .tab-move-box {
        position: relative;
        padding: 0;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border: 1px solid #999;
    }

    .tab-move-image {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        max-width: none;

        &.top-left {
            top: 0;
            left: 0;
        }

        &.top-right {
            top: 0;
            left: auto;
            right: 0;
        }
    }
}
